*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div.main {
    height: 90vh;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #E0E9FA;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.466);
}
img {
    height: 340px;
    width: 500px;
    padding-top: 25px;
    padding-left: 50px;
    margin: auto;
    display: block;
}
input{
    padding: 13px;
    border-radius: 5px;
    border: 1px solid gray;
}