/* #F2E416
#F2B705
#F29F05
#F28705
#F25C05 */

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div.box{
    max-width: 400px;
    min-width:360px;
    max-height: 750px;
    min-height: 550px;
    width: 20vw;
    background-color: #E0E9FA;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.466);
}
div.img{

    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    height: 350px;
    width: 350px;
    padding: 0px;
    display: block;
    margin: auto;
    
}
input{
    padding: 13px;
    border-radius: 5px;
    border: 1px solid gray;
}
div > form{
    text-align: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
button{
    background-color:#F2B705 ;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 50%;

}
button:hover {
    background-color: #F29F05;
}